

.h-tag {
    box-sizing: border-box;
    width: 100%;
    border: 100px ,lightcoral;
    float: left;
    align-content: center;
    align-items: center;
}

form {
    margin: 0 auto;
    width: 600px;
}